nav{
    padding: 1rem;
}
nav a {
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 600;
  color: rgb(0, 136, 160);
  padding: 5px 15px;
  margin: 2px 10px;
}
nav a:hover{
    background-color: aquamarine;
    transition-duration: 500ms;
    border-radius: 3px;
}
.active{
  background-color: aquamarine;
}